*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
        background-color: #051f24;
}