.container-principal {
    background-color: #fff;
    width: 100%;
    height: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem !important;
}

.law-section {
    width: 100%;
}


.header-law {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

.header-content {
    flex: 1;
    min-width: 300px;
    max-width: 650px;
}

.header-content h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #101828;
}

.header-content p {
    font-size: 1.1rem;
    color: #475467;
}

/* Estado Inicial: Oculto */
.p1,
.p2,
.p3 {
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;
    font-size: 16px;
}

.show-text {
    display: block;
    opacity: 1 !important;
}



.explore-button {
    display: inline-block;
    background-color: #101828;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.explore-button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

#escritorio {
    background-color: color-mix(in oklab, #f1edee 40%, transparent);
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.feature-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 2rem;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-card h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #101828;
    max-width: 80%;
}

.icon-button {
    background-color: #101828;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.founder-container {
    width: 100%;
    /* background: linear-gradient(217deg, #0a4858 25.35%, #052025 75.21%);
    ; */
    background-color: color-mix(in oklab, #f1edee 40%, transparent);
}

.founder-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.5rem;
    gap: 1.5rem;
    color: #000;
}

.founder-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 450px;
}

#contato {
    background-color: color-mix(in oklab, #f1edee 40%, transparent) !important;
}

.cta-button {
    background-color: #580024;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    cursor: default !important;
}

.cta-button:hover {
    background-color: #390018;
}

.founder-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.founder-section,.founder-section-about {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.founder-text {
    --bg-opacity: 1;
    /* background-color: rgba(184, 225, 255, var(--bg-opacity)) !important; */
    background-color: #fff;
    color: #333;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 700px;
}

.founder-text-about{
    --bg-opacity: 1;
    /* background-color: rgba(184, 225, 255, var(--bg-opacity)) !important; */
    background-color: #fff;
    color: #333;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 100%;
}

.founder-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer .logo {
    max-width: 120px;
    height: auto;
}

.card-footer a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.card-footer a:hover {
    border-bottom-color: #333;
}

.founder-image {
    flex: 1;
    max-width: 480px;
}
.founder-image-nos {
    flex: 1;
}


.founder-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}